/* visited link color */
a:visited {
    color:#00ff00;
}

/* mouse over link color */
a:hover {
    color:yellow;
}

/* graphics design */
.chart div {
  padding: 4px;
  margin: 3px;
  color: black;
  border-radius:2px;
  height: 12px;
  text-align:left;
  text-align: top;
  font-size: 18px;
  line-height:0.75;
}


#icon_jogavel {
	border-style: groove;
	border-color: black;
	border-width: 1.25px;
	margin: 1.25px;
	float: left;
	width: 14px;
	height: 14px;
	background: #00df22;
}

#icon_ingame {
	border-style: groove;
	border-color: black;
	border-width: 1.25px;
	margin: 1.25px;
	float: left;
	width: 14px;
	height: 14px;
	background: yellow;
}

#icon_intro {
	border-style: groove;
	border-color: black;
	border-width: 1.25px;
	margin: 1.25px;
	float: left;
	width: 14px;
	height: 14px;
	background: orange;
}

#icon_boot {
	border-style: groove;
	border-color: black;
	border-width: 1.25px;
	margin: 1.25px;
	float: left;
	width: 14px;
	height: 14px;
	background: red;
}

#icon_crash {
	border-style: groove;
	border-color: black;
	border-width: 1.25px;
	margin: 1.25px;
	float: left;
	width: 14px;
	height: 14px;
	background: grey;
}




